* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cadetblue;
  color: rgb(8, 73, 130);

}

#contenido {
  background-color: rgb(255, 252, 90);
  border-bottom-right-radius: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}


#boton:hover{
  background-color: blue;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 7px;
  }

  main {
    margin: auto;
    margin-top: 5rem;
    width: 280px;
    height: 360px;
  }

  #boton{
    background-color: rgb(255, 252, 90);
    width: 280px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    border: 1px orange solid;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
  }

  #contenido {
    width: 220px;
    height: 240px;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 30px;
  }
}